* {
    box-sizing: border-box;
}
.sign-up {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
}
.sign-up__link {
    color: #FFFFFF;
}
.main-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.main-header__inner {
    display: flex;
    align-items: center;
    width: 1240px;
    height: 48px;
    margin: 0 auto;
}
.input-window-outer {
    position: relative;
    margin-left: 40px;
}
.input-icon {
    position: absolute;
    left: 16px;
    top: 12px;
}
.input-window {
    width: 558px;
    height: 48px;
    margin-right: 40px;
    background-color: #f0f0f0;
    border-radius: 62px;
    border: none;
    padding-left: 52px;
}
.navigation-top {
    margin-right: 40px;
}
.navigation-link {
    margin-right: 24px;
}
.main-top {
    background-color: #f2f0f1;
    background-image: url("asset/main_visual.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 663px;
}
.main-top__inner {
    width: 1240px;
    margin: 0 auto;
}
.main-logo {
    padding-top: 103px;
    padding-bottom: 32px;
    width: 577px;
    height: 173px;
}
.main-sentence {
    opacity: 0.6;
    padding-top: 42px;
    margin-bottom: 20px;
}
.shopping-button {
    display: inline-block;
    border-radius: 62px;
    background-color: #000000;
    padding: 15px 67.5px;
    color: #ffffff;
    text-decoration:none;
    margin-bottom: 48px;
}
.shopping-button:hover {
    text-decoration:underline;
}
.mv-list {
    display: flex;
    margin-right: 0px;
}
.mv-list__item {
    margin-right: 64px;
}
.mv-list__text {
    margin: 0;
}
.mv-list__subtext {
    opacity: 0.6;
    margin: 0;
}
.brands-line {
    height: 122px;
    background-color: #000000;
    margin-bottom: 8px;
}
.brands-line__inner {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.products-block {
    width: 1240px;
    margin: 0 auto;
}
.products-block__title {
    display: flex;
    margin: 64px auto 55px;
}
.products-information {
    margin-left: 20px;
}